// Stylus Color Operations
color = #229ed3

body {
    color:
    red(color)
    green(color)
    blue(color)
    alpha(color)
    dark(color)
    light(color)
    hue(color)
    saturation(color)
    lightness(color)
}
